body {
  background-color:lightgray;
  
}
 
.container-fluid {
  background-color: #fff;
  
}


.custom-toggler.navbar-toggler {
  border-color: grey;
}
.custom-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand {
  margin-left: 40px;
}

.profile-image {
  margin-right: 40px;
}

.nav-link {
  color:gray;
}
.is-active {
  font-weight: bold;
}

.promotions {
  background-color:	#40E0D0;
  
  padding: 20px 30px;
}

.promotion-title {
  text-align: center;
  color: #fff;
  padding: 10px 0;
}

.card-body {
  background-color: #fff;
}

.colmargin {
  margin: 0;
  padding: 20px 20px;
}

.news-title {
    padding-left: 15px;
}

.news-heder{
  color: #40E0D0;
}

.about {
  background-color:	#40E0D0;  
  padding: 20px 20px;
}

.about-title{
  color: #fff;
  
}


.readmore{
  color: #40E0D0;
}

.colfooter {
  background:#333333;  
}

.float-left {
  list-style-type: none;
  margin: 0;
  padding-top: 30px;
  overflow: hidden;
  background-color: #333333;
}

.float-left > li {
  float: left;
}

.left-link {
  display: block;
  color:#DCDCDC;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.link {
  color:#DCDCDC;
}

.copy-right {
  color:#DCDCDC;  
  background-color: #333333;
  padding: 0 0 30px 60px;
 
}

.float-right {
  list-style-type: none;
  margin-top: 0;
  padding-top: 30px;
  overflow: hidden;
  background-color: #333333;
}

.float-right > li {
  float: right;
}

.card-title-span {
  float: right;
  font-size: 14px;
  color: darkgray;
}

.card-text-price {
  float: right;
  color: 	#40E0D0;
  margin-left: 10px;
  font-weight: bold;
  font-size: 14px;
 
}

.ratings {
  font-size: 20px;
}

.ratings-text {
  float: right;
  color: #333333;
  margin-left: 10px;
  font-weight: bold;
  font-size: 14px;
  padding-left: 10px;
}

i.fa {
  color:	#333333;
  background-color: #fff;
  border-radius: 100px; 
  padding:6px;
  height: 35px;
  width: 35px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}